@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Open+Sans|Roboto+Slab');

/* General rules */

body {
  margin: 0;
  padding: 0;
  background: url(../images/header4.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
main {
  display: grid;
}
h1 {
  font-family: 'Roboto Slab';
  font-size: 2em;
  text-align: center;
}
p {
  font-family: 'Open Sans';
  font-size: 1.05em;
}
section {
  display: block;
  width: 100%;
  background-color: #f0f0f0;
}
section p {
  text-align: center;
}
#video {
  display: block;
  width: 100%;
  margin: auto;
}

/* Desktop size */

@media all and (min-width: 60em) {

main {
    grid-template-columns: repeat(3, 1fr);
  }
section {
    grid-column: 1/-1;
  }
}
