@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Open+Sans|Roboto+Slab');

/* General rules */

body {
  margin: 0;
  padding: 0;
  background: url(../images/header4-remastered.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
main {
  display: grid;
}
h1 {
  font-family: 'Roboto Slab';
  color: white;
  font-size: 4em;
  text-align: center;
  margin: 0;
  padding: 0;
}
p {
  font-family: 'Open Sans';
  font-size: 1.05em;
}
section {
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
section p {
  text-align: center;
}
#video-container {
  background-color: inherit;
  margin-top: 3.5em;
}
/* Other aspect ratios can be: 1040x585 , 1120x630, 1360x765 */
#video {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  box-shadow: 0px 8px 35px 7px #000;
}
#topp {
  margin-top: 3em;
}

/* Desktop size */

@media all and (min-width: 60em) {

main {
    grid-template-columns: repeat(3, 1fr);
  }
section {
    grid-column: 1/-1;
  }
}
